<p>
  <strong>{{ datastores.length }}</strong> Data Store<span ng-if="datastores.length > 1">s</span> in <strong>{{ workspace }}</strong>
  <span class="data-store-crud">
    <i class="fa fa-plus circular-icon" ng-click="addNewStore();"></i>
    <i class="fa fa-minus circular-icon" ng-click="deleteStore();"></i>
    <i class="fa fa-gear circular-icon" ng-click="updateStore();"></i>
  </span>
</p>
<div class="row datastores">
  <div class="col-sm-6">
    <ul class="list-unstyled stores-list" ng-style="storesListHeight">
      <li class="store-row" ng-repeat="ds in datastores" ng-click="selectStore(ds);" ng-class="{'selected': ds.name==selectedStore.name}">
        <div class="icon-column">
          <h3 class="datastore-icons"><i ng-class="{'icon-file': ds.sourcetype=='shp', 'icon-folder-open': ds.sourcetype=='shp dir', 'fa fa-database fa-md': ds.sourcetype=='database', 'fa fa-th fa-md': ds.sourcetype=='raster'}"></i></h3>
          <p class="datastore-label">{{ ds.sourcetype }}</p>
        </div>
        <div class="info-column">
          <p><strong>Store:</strong> {{ ds.name }}</p>
          <p><strong>Type:</strong> {{ ds.format }}</p>
          <p><strong>Enabled:</strong> <i ng-class="{'icon-checkmark': ds.enabled, 'icon-close': !ds.enabled }"></i></p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div>
      <p class="x-imported">
        <span style="float:left;" ng-if="selectedStore"><strong>Resources:</strong> {{ selectedStore.layers.length }} / {{ selectedStore.resources.length }} imported as layers</span>
      </p>
      <div class="info source-loc" pop="{{selectedStore.source}}" pop-show="{{ selectedStore.showSourcePopover }}" pop-placement="left" ng-click="closePopovers(selectedStore);" pop-title="Store: {{selectedStore.name}}"><strong>Source:</strong><span class="source-info"> {{ selectedStore.source | truncate:false:24:true }}</span></div>
      <div class="imports">
        <ul class="list-unstyled">
          <li class="layer_imported" ng-repeat="rsrc in selectedStore.resources">
            <h4>Resource: {{ rsrc.name }}</h4>
            <div ng-if="rsrc.layers.length > 0">
              <div ng-repeat="layer in allRetrievedLayers">
                <div ng-repeat="rsrcLayer in rsrc.layers">
                  <div class="layer_info" ng-if="rsrcLayer.name==layer.name">
                    <div class="info"><strong>Used in Layer:</strong></div>
                    <div class="info"><strong>Name:</strong> {{ layer.name }}</div>
                    <div class="info"><strong>Title:</strong> {{ layer.title }}</div>
                    <div class="info"><strong>Type:</strong> {{ layer.type }}</div>
                    <div class="info"><strong>Geometry:</strong> {{ layer.geometry }}</div>
                    <div class="info"><strong>SRS:</strong> {{ layer.proj.srs || "Not specified" }} ({{ layer.proj.unit }})</div>
                    <div class="info"><strong>Description:</strong> {{ layer.description }}</div>
                    <div class="info"><strong>Schema</strong></div>
                    <div class="info" style="margin-left: 15px;"><strong>Namespace:</strong> {{ layer.schema.namespace || layer.schema.name }} </div>
                    <div class="info" style="margin-left: 15px;"><strong>Attributes:</strong><a ng-click="showAttrs(layer.name, layer.schema.attributes);"> {{ layer.schema.attributes.length }} Attributes <i class="fa fa-list-alt fa-lg" style="padding-left: 10px;"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="rsrc.layers.length==0">
              <div class="info">
                <p>Not yet imported as a layer</p>
                <p><a href="">Import Now &rarr;</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
