<div>
  <div class="modal-header">
    <h4 class="modal-title"><i class="icon-folder-open"></i> <strong>{{workspace}}</strong></h4>
    <small class="pull-right required-star">* Required</small>
  </div>
</div>
<div class="modal-body">
  <form name="form.settings" role="form" class="settings">
    <div class="form-group">
      <label for="workspaceName">Name *</label>
      <input name="workspaceName" type="text" class="form-control input-sm" ng-model="wsSettings.name" placeholder="Workspace Name" maxlength="10" required ng-pattern="/^[a-zA-Z][a-zA-Z\d\-_]*$/" ng-model-options="{updateOn: 'default blur'}" focus-init
      ng-blur="setInvalid()"/>
      <span ng-show="form.settings.workspaceName.$error.pattern" class="errorInput">Invalid characters in workspace name.</span>
      <span ng-show="!form.settings.workspaceName.$error.pattern && form.settings.workspaceName.$error.maxlength" class="errorInput">Max 10 characters allowed.</span>
      <span ng-show="form.settings.workspaceName.$dirty && !form.settings.workspaceName.$error.pattern && !form.settings.workspaceName.$error.maxlength && form.settings.workspaceName.$error.required" class="errorInput">Required</span>
      <span ng-show="form.settings.workspaceName.$dirty && !form.settings.workspaceName.$error.pattern && !form.settings.workspaceName.$error.maxlength && !form.settings.workspaceName.$error.required && form.settings.workspaceName.$error.alreadyExists" class="error">Name already exists</span>
      <small class="hint">(No spaces, max 10 characters, for web URLs.)</small>
    </div>
    <div class="form-group">
      <label for="workspaceUri">Namespace URI</label>
      <input type="url" class="form-control input-sm" id="workspaceURI" placeholder="Workspace URI" ng-model="wsSettings.uri" ng-bind-html/>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="wsSettings.default"/> Default?
      </label>
      <span pop="{{ defaultDesc }}" pop-show="{{ showDefaultDesc }}" pop-placement="right" ng-click="showDefaultDesc=!showDefaultDesc;"><i class="icon-ln fa fa-info-circle"></i></span>
    </div>
  </form>
</div>
<div class="modal-footer ws-settings-footer">
  <div class="form-group pull-left">
    <button ng-click="close()" class="btn btn-sm btn-default">Close</button>
  </div>
  <div class="form-group pull-right">
    <button ng-click="saveChanges()" class="btn btn-success btn-sm save">Save Changes</button>
    <div ng-show="wsSettings.saved" ng-disabled="form.settings.workspaceName.$dirty || (form.settings.workspaceName.$error.required || form.settings.workspaceName.$error.pattern || form.settings.workspaceName.$error.maxlength)" class="saved"><i class="fa fa-check"></i> Changes Saved.</div>
  </div>
</div>
