/* workspace.less */

@import "../../variables.less";

.section-title {
  a {
    color: @black;
    &:hover {
      color: @monacoblue;
    }
    i.fa-gear { /* settings gear */
      color: @md-lt-gray;
      &:hover {
        color: @monacoblue;
      }
    }
  }
}

.data-table {
  height: 400px;
  text-align: center;
  width: 100%;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  max-width: 100%;
  width: 100%;
}

.map-summary {
  margin-bottom: 40px;
  margin-top: 20px;
  display: inline-block;
  width: 100%;

  img {
    display: inline-block;
    box-shadow: 2px 2px 4px #999;
    margin-bottom: 10px;
  }
  img:hover {
    outline: 3px solid @skyblue;
  }
  .map-summary-detail {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    h4 {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: bold;
    }
    p {
      line-height: 24px;
    }
  }
  .abstract {
    margin-top: 5px;
    width: 90%;
  }
}

.maps-data-tabs {
  ul.nav.nav-tabs {
    li {
      width: 150px;
      text-align: center;
      font-weight: 600;
    }
  }
  .tab-content {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

.data-store-crud, .maps-crud {
  display: inline;
  float: right;
  margin-top: -10px;
  padding-right: 20px;

  .circular-icon {
    .rounded(50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    border: solid 1px @gray;
    color: @gray;
    margin-right: 5px;
    &:hover {
      cursor: pointer;
      background-color: @gray;;
      color: @white;
    }
  }
}

form.settings {
  margin-top: 20px;

  .form-group {
    margin-bottom: 20px;
    label {
      font-weight: bold;
    }
    small {
      color: @gray;
    }
  }
  .input-sm {
    clear: both;
    height: 28px;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  #workspaceName {
    width: 200px;
  }

  button.delete {
    margin-top: 20px;
    padding: 5px 16px !important
  }
  button.save {
    margin-top: 20px;
    padding: 5px 24px !important;
  }
  .saved {
    color: @green;
    margin-right: -125px;
    padding-left: 20px;
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}

.error {
  color: @red;
  display: inline-block;
  float: right;
  margin-right: -120px;
  margin-top: -22px;
}
