<div>
  <div class="container-fluid">
    <h3 class="section-title">
      <a ng-click="workspaceSettingsOff();"><i class="icon-lg icon-folder-open"></i> {{ title }}</a>
      <span class="pull-right"><a ng-click="workspaceSettings();"><i class="fa fa-gear"></i></a></span>
    </h3>
    <!-- Workspace Map and Data-->
    <tabset class="maps-data-tabs" ng-hide="showSettings">
      <tab heading="Maps" active="tabs.maps" ng-controller="WorkspaceMapsCtrl">
        <h3>Maps</h3>
        <p>
          <strong>{{ maps.length }}</strong> Map<span ng-if="maps.length > 1">s</span> in <strong>{{ workspace }}</strong>
          <span class="maps-crud">
            <i class="fa fa-plus circular-icon" ng-click="addNewMap();"></i>
            <i class="fa fa-minus circular-icon"></i>
            <i class="fa fa-gear circular-icon"></i>
          </span>
        </p>
        <div ng-repeat="map in maps" class="map-summary">
          <div class="row" ng-if="$index % 2 == 0">
            <div class="col-sm-6">
              <a href="" ng-click="onEdit(map)">
                <img ng-src="{{ thumbnails[map.name] }}" height="250" width="250" title="Edit Map" />
              </a>
              <div class="map-summary-detail">
                <h4>{{ map.title }}</h4>
                <p>{{ map.layer_count }} Layers</p>
                <p>{{ map.proj.srs }}</p>
                <p><a href="" ng-click="newOLWindow(map)">View in OpenLayers</a></p>
              </div>
              <p class="abstract"><strong>Abstract:</strong> {{sanitizeHTML(map.abstract)}}</p>
            </div>
            <div class="col-sm-6" ng-if="$index % 2 == 1">
              <a href="" ng-click="onEdit(map)">
                <img ng-src="{{ thumbnails[map.name] }}" height="250" width="250" title="Edit Map" />
              </a>
              <div class="map-summary-detail">
                <h4>{{ map.title }}</h4>
                <p>{{ map.layerCount }} Layers</p>
                <p>{{ map.proj.srs }}</p>
                <p><a href="" ng-click="newOLWindow(map)">View in OpenLayers</a></p>
              </div>
              <p class="abstract"><strong>Abtract:</strong> {{sanitizeHTML(map.description)}}</p>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Data" active="tabs.data" ng-controller="WorkspaceDataCtrl">
        <h3>Data Stores</h3>
        <p>
          <strong>{{ datastores.length }}</strong> data store<span ng-if="datastores.length > 1">s</span> in <strong>{{ workspace }}</strong>
          <span class="data-store-crud">
            <i class="fa fa-plus circular-icon" ng-click="addNewStore();"></i>
            <i class="fa fa-minus circular-icon" ng-click="deleteStore();"></i>
            <i class="fa fa-gear circular-icon" ng-click="updateStore();"></i>
          </span>
        </p>
        <div class="row datastores">
          <div class="col-sm-6">
            <ul class="list-unstyled stores-list">
              <li class="store-row" ng-repeat="ds in datastores" ng-click="selectStore(ds);" ng-class="{'selected': ds.name==selectedStore.name}">
                <div class="icon-column">
                  <h3 class="datastore-icons"><i ng-class="{'icon-folder-open': ds.sourcetype=='shp', 'fa fa-database fa-md': ds.sourcetype=='database', 'fa fa-th fa-md': ds.sourcetype=='raster'}"></i></h3>
                  <p class="datastore-label">{{ ds.sourcetype }}</p>
                </div>
                <div class="info-column">
                  <p><strong>Store:</strong> {{ ds.name }}</p>
                  <p class="trim-info"><strong>Source:</strong> {{ ds.source }}</p>
                  <p><strong>Description:</strong> {{ ds.description }}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div>
              <p class="x-imported">
                <span style="float:left;" ng-if="selectedStore"><strong>Imported:</strong> {{ selectedStore.imported}} Layers</span>
                <span style="float:right;" ng-if="selectedStore">{{ selectedStore.unimported }} more available</span>
              </p>
              <div class="imports">
                <ul class="list-unstyled">
                  <li class="layer_imported" ng-repeat="imported_layer in selectedStore.layers_imported">
                    <div class="img_placeholder"></div>
                    <div class="layer_info">
                      <div class="info"><strong>Name:</strong> {{ imported_layer }}</div>
                      <div class="info"><strong>Title:</strong>  {{ imported_layer }}</div>
                      <div class="info"><strong>Type:</strong>  {{ imported_layer }}</div>
                    </div>
                    <div class="srs_info">
                      <div class="label">SRS</div>
                      <div class="label">EPSG:4326</div>
                      <div class="attr_info">
                        <i class="fa fa-list-alt fa-lg"></i> <span class="label">View Attributes</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
    <!-- Workspace Settings-->
    <div class="row" ng-show="showSettings" ng-controller="WorkspaceSettingsCtrl">
      <div class="col-sm-9">
        <div heading="Settings" active="tabs.settings">
          <h3>Settings</h3>
          <div class="row">
            <div class="col-sm-6">
              <form name="form.settings" role="form" class="settings">
                <div class="form-group">
                  <label for="workspaceName">Workspace Name</label>
                  <input type="text" class="form-control input-sm" id="workspaceName" placeholder="Workspace Name" ng-model="wsSettings.name">
                  <small>(max 10 characters, no spaces)</small>
                </div>
                <div class="form-group">
                  <label for="workspaceUri">Namespace URI</label>
                  <input type="url" class="form-control input-sm" id="workspaceURI" placeholder="Workspace URI" ng-model="wsSettings.uri" ng-bind-html>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="wsSettings.default"> Default Workspace?
                  </label>
                </div>
                <div class="form-group pull-left">
                  <button ng-click="deleteWorkspace()" class="btn btn-danger btn-sm delete">Delete Workspace</button>
                </div>
                <div class="form-group pull-right">
                  <button ng-click="saveChanges()" class="btn btn-success btn-sm save">Save Changes</button>
                  <div ng-show="wsSettings.saved" class="saved"><i class="fa fa-check"></i> Changes Saved.</div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
