<div>
  <div class="container-fluid">
    <h3 class="section-title">
      <a ng-click="go('workspace.maps.main')">
        <i class="icon-lg icon-folder-open"></i>
        {{ title }}
      </a>
      <span class="workspace-buttons">
        <span class="divider"></span>
        <a class="newmap" ng-click="workspaceHome();">
          <i class="icon-map icon"></i> <span class="text">All Maps</span>
        </a>
        <span class="divider"></span>
        <a class="newmap" ng-click="createMap();">
          <i class="icon-plus icon"></i> <span class="text">New Map</span>
        </a>
        <span class="divider"></span>
        <a class="import" ng-click="importData();">
          <i class="fa fa-share icon"></i> <span class="text">Add Data</span>
        </a>
        <span class="divider"></span>
        <a class="settings" ng-click="go('workspace.settings');">
          <i class="fa fa-gear icon"></i> <span class="text">Settings</span>
        </a>
      </span>
    </h3>
    <tabset class="maps-data-tabs" ng-show="!showSettings">
      <tab ng-repeat="t in tabs" heading="{{t.heading}}"
        select="selectTab(t)" active="t.active">
       </tab>
     </tabset>
     <div ui-view></div>
  </div>
</div>
