<div>
  <div class="container-fluid">
  <h3 class="section-title"><i class="icon-lg icon-folder-open"></i> {{ title }}</h3>
      <tabset>
        <tab heading="Maps">
          <h3>Maps</h3>
          <div ng-repeat="map in maps" class="map-summary">
            <a href="" ng-click="onEdit(map)">
              <img ng-src="{{ thumbnails[map.name] }}" height="250" width="250"/>
            </a>
            <div class="map-summary-detail">
              <h4>{{ map.title }}</h4>
              <p>{{ map.layerCount }} Layers</p>
              <p>{{ map.proj.srs }}</p>
              <p><a href="" ng-click="newWindow(map)">View in OpenLayers</a></p>
            </div>
            <p class="abstract"><strong>Abtract:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit...</p>
          </div>
        </tab>

        <tab heading="Data" active="tab.active">
          <h3>Data</h3>
          <div class="data-table" ng-grid="gridOptions"></div>
        </tab>
      </tabset>
  </div>
</div>
