<div>
  <div class="modal-header">
  <h4 class="modal-title"><strong>{{ title }}</strong></h4>
  <small>{{ attributes.length }} Attributes</small>
  </div>
  <div class="modal-body">
    <div class="row" ng-if="attributes.length > 20" ng-repeat="row in attributes | partition:3 ">
      <div class="col-xs-4 attr-cols" ng-repeat="item in row">
        <span class="attr-name">{{ item.name }}</span>
        <span class="attr-type pull-right">{{ item.type }}</span>
      </div>
    </div>
    <div class="row" ng-if="attributes.length < 20" ng-repeat="attr in attributes">
      <div class="col-xs-6 col-xs-offset-3 attr-cols">
        <span class="attr-name">{{ attr.name }}</span>
        <span class="attr-type pull-right">{{ attr.type }}</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="close()">Close</button>
  </div>
</div>
