<div>
  <div class="modal-header">
    <h4 class="modal-title">Delete Workspace</h4>
  </div>
  <div class="modal-body" style="font-size: 13px; margin-left: 20px;">
    <p ng-hide="workspace.deleted">
      <p>Delete workspace <strong>{{ workspace }}</strong>?</p>
      <p><strong>All data, layers and styles will be permanently deleted.</strong></p>
      <p>This action cannot be undone! Are you absolutely sure?</p>
      <br/><br/>
      <p><small>If you're just poking around and this is horizon.boundlessgeo.com,<br/>please <strong>do not delete any workspaces other than ones you have created!</strong></small></p>
    </p>
    <p ng-show="workspace.deleted">
      Workspace <strong>{{ workspace }}</strong> deleted.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="close()">Close</button>
    <button class="btn btn-danger btn-sm" ng-click="deleteForever()" style="margin-left:20px; margin-right:20px;">Yes, Delete Permanently</button>
  </div>
</div>
