<div>
  <div class="modal-header">
    <h4 class="modal-title">{{ layer.type | firstCaps }} Layer:
    {{ layer.name }}</h4>
  </div>
  <div class="modal-body">
    <div>
      <p>{{ layer.type | firstCaps }} Formats supported:</p>
        <ul>
          <li class="format" ng-repeat="format in formats[layer.type.toLowerCase()]">
            {{ format.title }}
            <div class="format-detail">
              <span class="type">{{ format.type }}</span>
              <span class="description">{{ format.description }}</span>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="close()">Close</button>
  </div>
</div>
