<div>
  <div class="modal-header">
    <h4 class="modal-title">Resource <strong>{{ resource.name }}</strong>: Publish to Layer</h4>
  </div>
  <div class="modal-body">
    <form name="form.layerSettings" role="form" class="layerSettings">
      <div class="form-group">
        <label for="layerName">Layer Name *</label>
        <input name="form.layerSettings.name" type="text" class="form-control input-sm" id="layerName" ng-model="layer.name" focus-init />
        <small>(No spaces, for web URLs.)</small>
      </div>
      <div class="form-group">
        <label for="mapTitle">Title</label>
        <input name="form.layerSettings.title" type="text" class="form-control input-sm" id="mapTitle" ng-model="layer.title">
        <small>(Spaces ok, for humans.)</small>
      </div>
      <div class="form-group" id="layerProj">
        <label for="form.layerSettings.crs">
          Projection * <div class="crs-warning" popover-html-unsafe="{{crsTooltip}}" popover-trigger="click" style="display:inline-block;"><i class="fa fa-info-circle"></i></div>
        </label>
        <proj-field name="crs" proj="layer.proj" ng-model-options="{updateOn: 'default blur', 'allowInvalid': true}"></proj-field>
        <span ng-show="form.layerSettings.crs.$dirty && !form.layerSettings.crs.$error.pattern && !layerSettings.proj.srs.$error.required" class="success"><i class="fa fa-check"></i> Valid CRS.</span>
        <span ng-show="form.layerSettings.crs.$dirty && !form.layerSettings.crs.$error.pattern && layerSettings.crs.$error.required" class="error">Required</span>
        <small>(e.g. EPSG:4326)</small>
      </div>
      <div class="form-group">
        <label for="proj">Description</label>
        <textarea rows="4" cols="40" class="form-control abstract" name="description" ng-model="layer.description"></textarea>
      </div>
      <div class="form-group">
        <label for="type">Type:</label> {{ layer.type | firstCaps}}
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-sm" ng-click="importAsLayer();" ng-disabled="!layer.proj" style="margin-left:20px; margin-right:20px;">Import to Layer</button>
  </div>
</div>
