<div>
  <div class="modal-header">
    <h4 class="modal-title" style="display: inline-block;">Add to Map <strong>{{ map.name }}</strong></h4>
    <div class="pull-right" style="display: inline-block;">
      <button class="btn btn-success btn-sm" ng-disabled="layerSelections.length==0" ng-click="addSelectedToMap();" style="margin-right:20px;">Add Selected to Map</button>
      <button class="btn btn-warning btn-sm" ng-click="importDataToNewLayers();" style="margin-right:20px;">Import Data to New Layers</button>
      <button class="btn btn-default btn-sm" ng-click="close()">Close</button>
    </div>
  </div>
  <div class="modal-body" style="font-size: 13px; margin-left: 20px;">
    <div class="available-layers">
      <div class="row">
        <div class="col-sm-12">
          <div class="layers-count-sort">
            <div class="layers-count">
              <strong>{{ totalItems }} layer<span ng-if="layers.length==0 || layers.length>1">s</span></strong> in current project.
            </div>
            <div class="pull-right">
              <div class="filter-box">
                <input type="text" class="form-control input-sm grid-filter" ng-model="filterOptions.filterText" placeholder="Filter layers by..." size="25" ng-change="refreshLayers()" />
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div name="lyrs" ng-grid="layerOptions" id="avail-layers-grid" ng-style="gridWidth"></div>
      <br/>
      <div class="layers-paging">
        <pagination total-items="totalItems" items-per-page ="pagingOptions.pageSize" ng-model="pagingOptions.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
