<div>
  <div class="modal-header">
    <h4 class="modal-title"><i class="icon-map"></i> {{ mapname }} <i class="fa fa-angle-right" style="padding: 0 5px;"></i> Map Settings</h4>
    <small class="pull-right required-star">* Required</small>
  </div>
  <div class="modal-body map-settings">
    <form name="form.mapSettings" role="form" class="mapSettings">
      <div class="form-group">
        <label for="mapName">Map Name *</label>
        <input name="name" type="text" class="form-control input-sm" id="mapName" ng-model="map.name" focus-init ng-pattern="/^[a-zA-Z][a-zA-Z\d\-*_]*$/" ng-maxlength="10" required ng-model-options="{updateOn: 'default blur', 'allowInvalid': true}" />
        <span ng-show="!form.mapSettings.name.$error.required && !form.mapSettings.name.$error.maxlength && form.mapSettings.name.$error.pattern" class="errorInput">Invalid characters in map name.</span>
        <span ng-show="!form.mapSettings.name.$error.required && form.mapSettings.name.$error.maxlength" class="errorInput">Max 10 characters.</span>
        <span ng-show="form.mapSettings.name.$error.required" class="errorInput">Required.</span>
        <small class="hint">(Starts with a letter, no spaces, max 10 characters, unique in a workspace, for web URLs.)</small>
      </div>
      <div class="form-group">
        <label for="mapTitle">Title</label>
        <input name="title" type="text" class="form-control input-sm" id="mapTitle" ng-model="map.title">
        <small>(Spaces ok, for humans.)</small>
      </div>
      <div class="form-group" id="mapProj">
        <label for="form.mapSettings.crs">
          Projection * <div class="crs-warning" popover-html-unsafe="{{crsTooltip}}" popover-trigger="click" popover-append-to-body="true" popover-placement="right"><i class="fa fa-info-circle"></i></div>
        </label>
        <proj-field name="crs" proj="map.proj" ng-model-options="{updateOn: 'default blur', 'allowInvalid': true}"></proj-field>
        <span ng-show="form.mapSettings.crs.$dirty && !form.mapSettings.crs.$error.pattern && !mapSettings.proj.srs.$error.required" class="success"><i class="fa fa-check"></i> Valid CRS.</span>
        <span ng-show="form.mapSettings.crs.$dirty && !form.mapSettings.crs.$error.pattern && mapSettings.crs.$error.required" class="error">Required</span>
        <small>(e.g. EPSG:4326)</small>
      </div>
      <div class="form-group">
        <label for="mapExtent">Extent</label>
        <ul class="list-unstyled extent-list">
          <li>
            <small>South</small>
            <input name="bbox.south" type="text" class="form-control input-sm mapExtent" ng-model="map.bbox.south">
          </li>
          <li>
            <small>West</small>
            <input name="bbox.west" type="text" class="form-control input-sm mapExtent" ng-model="map.bbox.west">
          </li>
          <li>
            <small>North</small>
            <input name="bbox.north" type="text" class="form-control input-sm mapExtent" ng-model="map.bbox.north">
          </li>
          <li>
            <small>East</small>
            <input name="bbox.east" type="text" class="form-control input-sm mapExtent" ng-model="map.bbox.east">
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label for="proj">Description</label>
        <textarea rows="3" cols="40" class="form-control abstract" name="description" ng-model="map.description"></textarea>
      </div>
      <div class="form-group">
        <label for="renderTimeout">
          Render Timeout
          <div class="crs-warning" popover-html-unsafe="{{renderToolTip}}" popover-trigger="click" popover-append-to-body="true" popover-placement="right"><i class="fa fa-info-circle"></i></div>
        </label>
        <input name="title" type="number" class="form-control input-sm" id="mapRenderTimeout" ng-model="map.timeout" min="3"><small class="units"> seconds</small>
      </div>
    </form>
    <alert ng-show="form.mapSettings.alerts" type="danger" style="margin-left: 0;">
      {{ form.mapSettings.alerts }}
    </alert>
</div>
  <div class="modal-footer map-settings-footer">
    <div ng-show="form.mapSettings.saved" class="saved"><i class="fa fa-check"></i> Changes Saved.</div>
    <button ng-click="deleteMap(map)" class="btn btn-danger btn-sm"><i class="icon-remove"></i> Delete Map</button>
    <button ng-click="saveChanges()" class="btn btn-success btn-sm save" ng-disabled="!form.mapSettings.$dirty || form.mapSettings.name.$error.maxlength || form.mapSettings.name.$error.required || form.mapSettings.name.$error.pattern">Update Map Settings</button>
    <button class="btn btn-default btn-sm" ng-click="cancel()">Close</button>
  </div>
</div>
