/* map.settings.less */

@import "../../../variables.less";

.map-settings {
  width: 90%;
  margin-left: 20px;

  .mapSettings {
    margin-top: 0;
  }

  label {
    display: block;
  }

  #mapName {
    width: 50%;
    display: inline-block;
  }

  #mapProj {
    .crs-warning {
      display: inline-block;
    }
    .proj-field {
      clear: both;
    }
  }
  ul.extent-list > li {
    display: inline-block;
    width: 24%;

    .mapExtent {
      width: 100%;
    }
  }
  #mapRenderTimeout {
    width: 25%;
    display: inline-block;
  }
}

small.hint {
  display: block;
  margin-top: 3px;
}
small.units {
  display: inline-block;
  margin-left: 5px;
}

.errorInput {
  color: @red;
  display: inline-block;
  margin-left: 10px;
}

.map-settings-footer {
  .btn {
    margin-left: 20px !important;
  }
  .saved {
    float: left;
    color: @green;
  }
}

