/* icons.less */
@import "../../../variables.less";

button#copyIcon {
  margin-right: 20px;
}
button#copyDisabled {
  //Fake disabled style so that we still trigger mouseover for the popover
  cursor: not-allowed;
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  -webkit-opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
  opacity: 0.65;
  filter: alpha(opacity=65);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f0ad4e;
  border-color: #eea236;
}
button.cancel {
  margin-right: 10px;
}
.icon-modal {
  max-height: 400px;
  overflow-y: scroll;

  .icon-img {
    display: inline-block;
    img {
      height: 16px;
      width: 16px;
    }
  }

  .icon-title {
    font-size: 12px;
    margin-left: 4px;
    display: inline-block;

    &.selectedIcon {
      font-weight: bold;
      color: @nectarine;
    }
  }

  .icon-row {
    margin: 4px 0;

    a {
      color: @almost-black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
