<div class="map-detail-compose">
  <div class="row">
    <div class="col-md-12 map-name-row">
      <nav class="navbar navbar-default map-name" role="navigation">
        <a class="navbar-brand" href=""><i class="icon-lg icon-folder-open"></i>{{ workspace }} <i class="fa fa-angle-right" style="padding: 0 5px;"></i> {{ map.title }}</a>
        <ul class="nav navbar-nav" style="margin-left: 30px;margin-top:5px;">
          <li><a href="">{{ numLayers }} Layers</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ol-map class="map" map-opts="mapOpts"></div>
    </div>
    <div class="col-md-6">
      <alert-panel alerts="alerts"></alert-panel>
      <div class="editor-background">
        <div class="map-layers" ng-class="{show: toggle == true}">
          <h6 class="title">Map Layers:</h6>
          <ul ui-sortable="{stop:layersReordered}" ng-model="map.layers"
              class="list-unstyled">
            <li ng-repeat="l in map.layers" ng-click="selectLayer(l)"
              ng-class="{active: activeLayer == l}" >
              <input type="checkbox" ng-model="l.visible" ng-click="toggleVisibility(l, $index)">
              {{ l.name }}
            </li>
          </ul>
          <div class="optional">
            <h6>Optional:</h6>
            <ul class="list-unstyled">
              <li>+ New Layer</li>
              <li>+ Base Map</li>
            </ul>
          </div>
        </div>
        <div class="map-editor">
          <div class="style-toolbar">
            <ul class="list-unstyled list-inline">
              <style-editor-layers click="toggleLayers"></style-editor-layers>
              <style-editor-save editor="editor" click="saveStyle"></style-editor-save>
              <style-editor-font editor="editor"></style-editor-font>
              <style-editor-size editor="editor"></style-editor-size>
              <style-editor-color editor="editor"></style-editor-color>
              <style-editor-icons editor="editor"></style-editor-icons>
              <style-editor-undo editor="editor"></style-editor-undo>
            </ul>
          </div>
          <style-editor style="style" editor="editor"></style-editor>
        </div>
      </div>
    </div>
  </div>
</div>
