<div class="map-detail-compose">
  <div class="row">
    <div class="col-md-12 map-name-row">
      <nav class="navbar navbar-default map-name" role="navigation">
        <div class="row">
          <div class="col-md-6">
            <div class="navbar-brand">
              <a ng-click="viewWorkspace(workspace);"><i class="icon-lg icon-folder-open"></i>{{ workspace }}</a>
              <a ng-click="editMapSettings(map);"><i class="fa fa-angle-right" style="padding: 0 5px;"></i> {{ map.name }}</a>
            </div>
            <span ng-show="isRendering" class="render-progress pull-right">
              <i class="fa fa-spinner fa-spin"></i>
              Rendering map
            </span>
            <featureinfo-panel featureinfo="featureinfo"></featureinfo-panel>
          </div>
          <div class="col-md-6 info">
            <div class="top">
              <a class="layers-toggle" ng-click="toggleLayers()">{{ map.layers.length }} Layers</a>
              <button class="btn btn-default btn-sm add-layer" ng-click="addMapLayer()"><i class="fa fa-plus"></i> Add Layer</button>
              <div class="currently_editing">
                Editing: <strong>{{ activeLayer.name }}</strong>
              </div>
              <div class="shortcuts">
                <a ng-click="showShortcuts()">
                  <i class="icon-keyboard icon-lg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ol-map class="map" map-opts="mapOpts"></div>
    </div>
    <div class="col-md-6">
      <div class="editor-background">
        <div class="map-layers" ng-class="{show: toggle == true}">
          <div class="reorder-info">Drag to Reorder</div>
          <ul ui-sortable="{stop:layersReordered}" ng-model="map.layers"
              class="list-unstyled">
            <li ng-repeat="l in map.layers" ng-click="selectLayer(l)"
              ng-class="{active: activeLayer == l}" >
              <div class="map-layer">
                <input type="checkbox" ng-model="l.visible" ng-click="toggleVisibility(l, $index)" />
              {{ l.name }}
              </div>
              <div class="map-layer-overlay text-right">
                <span class="icons">
                  <i class="fa fa-arrow-circle-o-left" title="Zoom To Layer"
                    ng-click="zoomToLayer(l)"></i>
                  <i class="fa fa-trash" title="Remove Layer"
                    ng-click="removeLayer(l, $index)"></i>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="map-editor">
          <div class="style-toolbar">
            <ul class="list-unstyled list-inline">
              <style-editor-layers click="toggleLayers"></style-editor-layers>
              <style-editor-save editor="editor" click="saveStyle"></style-editor-save>
              <style-editor-font editor="editor"></style-editor-font>
              <style-editor-size editor="editor"></style-editor-size>
              <style-editor-color editor="editor"></style-editor-color>
              <style-editor-icons editor="editor"></style-editor-icons>
              <style-editor-undo editor="editor"></style-editor-undo>
              <style-editor-attrs editor="editor" layer="activeLayer"></style-editor-attrs>
            </ul>
          </div>
          <style-editor layer="activeLayer" style="style" editor="editor" markers="markers"></style-editor>
        </div>
      </div>
    </div>
  </div>
</div>
