<div>
  <div class="modal-header">
    <h4 class="modal-title">Editor: Unsaved Changes</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        The editor contains unsaved changes; would you like to save or discard those changes?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-show="linterIsvalid" class="btn btn-success btn-sm" ng-click="saveChanges()">Save</button>
    <button class="btn btn-danger btn-sm" ng-click="discardChanges()">Discard</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button
  </div>
</div>
