<div class="new-map">
  <div class="row options text-center">
    
    <div class="text-center">
      <p class="lead">{{totalServerItems}} Layers are available for workspace <i class="icon-folder-open"></i> <strong>{{workspace}}</strong>. Continue to create a map with these layers.</p>
    </div>
    <div class="divider">
      <div class="text-center or">OR</div>
    </div>
    <div class="text-center">
      <p class="lead"><i class="fa fa-share gray"></i> Import data to create new layers:</p>
      <button class="btn btn-primary btn-sm" ng-click="importNewLayers();">Import New Data &rarr;</button>
    </div>
  </div>
</div>
