<div>
  <div class="row options text-center">
    {{totalServerItems}} Layers are available for workspace {{workspace}}.
    <div class="text-center">
      <p class="lead">Continue to create a map with these layers.</p>
    </div>
    <div class="text-center or">OR</div>
    <div class="text-center">
      <p class="lead"><i class="fa fa-share gray"></i> Import data to create new layers:</p>
      <button class="btn btn-primary btn-sm" ng-click="importNewLayers();">Import New Data &rarr;</button>
    </div>
  </div>
</div>
