<div>
  <div class="modal-header">
    <h4 class="modal-title">Delete Layer</h4>
  </div>
  <div class="modal-body">
    <p>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group input-group-sm">
            Are you sure you want to remove the layer "{{layer}}"?
          </div>
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </p>
    <p>&nbsp;</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger btn-sm" ng-click="ok()">Delete</button>
  </div>
</div>
