<div>
  <div class="container-fluid">
    <h3 class="page-title">
      <i class="icon-lg icon-stack"></i> {{title}}
      <span class="workspace-buttons">
        <span class="divider"></span>
        <a class="newmap" ng-click="createMap(workspace.selected.name);">
          <i class="icon-plus icon"></i> <span class="text">New Map</span>
        </a>
        <span class="divider"></span>
        <a class="import" ng-click="importData(workspace.selected.name);">
          <i class="fa fa-share icon"></i> <span class="text">Add Data</span>
        </a>
        <span class="divider"></span>
        <a class="settings" ng-click="go('workspace.settings', workspace.selected.name);">
          <i class="fa fa-gear icon"></i> <span class="text">Settings</span>
        </a>
      </span>
    </h3>
    <div class="page-content all-layers">
      <div class="workspace-choice">
        <div class="workspace-label">Project Workspace:</div>
        <div class="workspace-picker">
          <ui-select ng-model="workspace.selected" ng-disabled="disabled" theme="bootstrap" reset-search-input="false">
            <ui-select-match placeholder="Select a workspace...">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="ws in workspaces">
              <span ng-bind-html="ws.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <input type="text" class="pull-right input-sm form-control grid-filter" ng-model="filterOptions.filterText" placeholder="Filter by name, title, description..." size="25" ng-change="refreshLayers()" />
      </div>
      <div ng-grid="gridOptions"></div>
      <!--<div class="selectedItems">Selections: {{gridSelections}}</div>-->
      <br />

      <div ng-if="gridSelections != ''">
        <div class="workspace-choice">
          <div class="workspace-label">Add to Map: </div>
          <div class="workspace-picker">
            <ui-select ng-model="map.selected" ng-disabled="disabled" theme="bootstrap" reset-search-input="false" ng-change="mapChanged(map.selected.title)">
              <ui-select-match placeholder="Select a map...">
                {{$select.selected.title}}
              </ui-select-match>
              <ui-select-choices repeat="map in maps">
                <span ng-bind-html="map.title | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <button type="button" class="btn btn-success btn-sm inline" ng-disabled="!mapTitle" ng-click="addSelectedLayerToMap(workspace.selected.name, mapTitle, gridSelections)" alt="Add Selected Layers to Map" title="Add Selected Layers to Map">
            + Add to Map
          </button>
          <div ng-show="map.saved" class="alert-success"><i class="fa fa-check"></i> The selected layers have been added to the map {{map.selected.title}}.</div>
        </div>
      </div>
    </div>
  </div>
</div>
