.layers-table {
  height: 500px;
  text-align: center;
}

.workspace-choice {
  width: 50%;
  margin-bottom: 10px;

  > span {
    margin-right: 25px;
  }
  > div {
    display: inline-block;
    width: 50%;
  }
}
