<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <bean id="opengeoTheme" class="org.geoserver.web.HeaderContribution">
        <property name="scope" value="com.boundlessgeo.geoserver.web.OpenGeoTheme"/>
        <property name="CSSFilename" value="css/opengeo.css"/>
        <property name="faviconFilename" value="favicon/favicon.ico"/>
    </bean>

    <bean id="suiteLayerListDemo" class="org.geoserver.web.MenuPageInfo">
        <property name="id" value="suiteLayerListDemo"/>
        <property name="titleKey" value="OpenGeoMapPreviewPage.title"/>
        <property name="descriptionKey" value="OpenGeoMapPreviewPage.description"/>
        <property name="category" ref="dataCategory"/>
        <property name="componentClass" value="org.geoserver.web.demo.OpenGeoMapPreviewPage"/>
        <property name="order" value="5"/>
        <property name="icon" value="map.png"/>
    </bean>

    <bean id="layerListDemoBlacklister" class="org.geoserver.platform.NameExclusionFilter">
        <property name="beanId" value="layerListDemo2"/>
    </bean>

    <context:component-scan base-package="com.boundlessgeo.geoserver"/>
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.boundlessgeo.geoserver.api.converters.JSONMessageConverter"/>
            <bean class="com.boundlessgeo.geoserver.api.converters.YsldMessageConverter"/>
            <bean class="com.boundlessgeo.geoserver.api.converters.ResourceMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>

