<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
    
    <bean id="composerMenuPageLink" class="org.geoserver.web.MenuPageInfo">
        <property name="id" value="composerMenuPageId"/>
        <property name="titleKey" value="ComposerRedirectPage.title"/>
        <property name="descriptionKey" value="ComposerRedirectPage.description"/>
        <property name="componentClass" value="com.boundlessgeo.geoserver.web.ComposerRedirectPage"/>
        <property name="order" value="50"/>
    </bean>
</beans>

