<div class="data-import-details">
  <div ng-if="import.pending.length > 0">
    <h3>Pending Layers</h3>
    <p>
      Please specify the projection for the following layers.
    </p>
    <div ng-grid="pendingGridOpts" class="pending-layers"></div>
    <div class="reimport-buttons pull-right">
      <button ng-click="cancel()" class="btn btn-default btn-sm">Cancel</button>
      <button ng-click="reimport()" class="btn btn-success btn-sm"><i class="fa fa-refresh"></i> Re-import</button>
      <button ng-click="cancel()" class="btn btn-primary btn-sm">Done</button>
    </div>
  </div>
  <div ng-if="import.imported.length > 0">
    <h3>Imported Layers</h3>
    <p>
      The following layers have been created.
    </p>
    <div ng-grid="completedGridOpts"></div>
  </div>

  <div class="row map-choice">
    <div class="col-sm-6 text-center">
      <div class="lead">Add Selected Layers above<br/>to an Existing Map: </div>
      <div class="map-picker">
        <ui-select ng-model="map.selected" ng-disabled="disabled" theme="bootstrap" reset-search-input="false" ng-change="setMap(map.selected);">
          <ui-select-match placeholder="Select a map...">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="map in maps">
            <span ng-bind-html="map.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <button type="button" class="btn btn-success btn-sm inline map-button" ng-disabled="!selectedMap" ng-click="addSelectedToMap(layerSelections)">
        <span ng-if="!createMap">+ Add to Map</span>
      </button>
    </div>
    <div class="col-sm-6 text-center divider">
      <span class="pull-left or">OR</span>
      <p class="lead"><i class="fa fa-plus gray"></i> Create a New Map:</p>
      <button class="btn btn-primary btn-sm" ng-click="">New Map &rarr;</button>
    </div>
  </div>
</div>
