<div class="data-import-details">
  <div ng-if="import.pending.length > 0">
    <h3>Pending Layers</h3>
    <p>
      Please specify the projection for the following layers.
    </p>
    <div ng-grid="pendingGridOpts" class="pending-layers"></div>
    <button ng-click="reimport()" class="btn btn-success pull-right"><i class="fa fa-refresh"></i> Re-import</button>
  </div>
  <div ng-if="import.imported.length > 0">
    <h3>Imported Layers</h3>
    <p>
      The following layers have been created.
    </p>
    <div ng-grid="completedGridOpts"></div>
  </div>

</div>
