<div>
  <div class="modal-header">
    <div class="create-title">
      {{ title }}
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid form-container">
      <div class="upload-options btn-group btn-group-justified" ng-show="is('fileordb')">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" ng-click="showImportFile=true; showImportDB=false;" ng-class="{active: showImportFile}">
            Add Files
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm"
          ng-click="showImportFile=false; showImportDB=true;" ng-class="{active: showImportDB}">
            Add Database
          </button>
        </div>
      </div>

      <div ui-view="importfile" ng-show="showImportFile"></div>
      <div ui-view="importdb" ng-show="showImportDB"></div>
      <div ui-view="importdetails" ng-show="showImportDetails"></div>
      <div ui-view="newmap"></div>

      <div class="import-result text-center" ng-show="importResult!==null && is('fileordb')">
        <alert ng-if="importResult.imported.length > 0" type="success">
        {{ importResult.imported.length }} layers were successfully imported.
        </alert>
        <alert ng-if="importResult.pending.length > 0" type="warning">
        {{ importResult.pending.length }} layers require additional input.
        </alert>
        <alert ng-if="importResult.ignored.length > 0" type="info">
        {{ importResult.ignored.length }} files were ignored.
        </alert>
        <alert ng-if="importResult.failed.length > 0" type="danger">
        {{ importResult.failed.length }} layers resulted in an error.
        </alert>
        <div class="text-right">
          <button class="btn btn-success btn-sm" type="button" ng-click="next(importResult)">
            Details &rarr;
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="submit-buttons pull-right">
      <button class="btn btn-default btn-sm" ng-click="back()" ng-show="!is('fileordb')">&larr; Back</button>
      <button class="btn btn-default btn-sm" ng-click="close()">Cancel</button>
      <button class="btn btn-success btn-sm" ng-show="mapInfo && !mapInfo.created && is('details')" ng-click="completeNewMap(selectedLayers)">Create Map {{ mapInfo.name }}</button>
      <button class="btn btn-success btn-sm" ng-click="createNewMapwithImported();" ng-show="is('newmap')">Create New Map</button>
      <button class="btn btn-success btn-sm" ng-show="mapInfo && mapInfo.created && is('details')" ng-click="addNewLayersToExistingMap(selectedLayers)">Add to Map {{ mapInfo.name }}</button>
    </div>
  </div>
</div>
