<div class="data-import-db">
  <div class="text-center">
    <p class="lead">
      Import data from a spatial database
    </p>
  </div>
  <div ng-show="format == null || db_home" class="text-center">
    <div class="db-list">
      <div class="row" ng-repeat="row in formats | partition:3">
        <div class="col-sm-4" ng-repeat="f in row">
          <div class="db-logo">
            <i class="fa fa-database fa-2x"></i>
          </div>
          <a href ng-click="chooseFormat(f)">{{ f.title }}</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="params" class="db-details">
    <h3>{{format.description}}</h3>
    <form>
      <div class="form-group" ng-if="params.host">
        <div class="col-sm-10">
          <label for="host">Host</label>
          <input ng-model="params.host.value" name="host" type="text" class="form-control" focus-init>
        </div>
        <div class="col-sm-2">
          <label for="port">Port</label>
          <input ng-model="params.port.value" name="port" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group" ng-if="params.database">
        <div class="col-sm-6">
          <label for="database">Database</label>
          <input ng-model="params.database.value" name="database" type="text" class="form-control">
        </div>
        <div class="col-sm-6" ng-if="params.schema">
          <label for="schema">Schema</label>
          <input ng-model="params.schema.value" name="schema" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group" ng-if="params.user">
        <div class="col-sm-6">
          <label for="user">Username</label>
          <input ng-model="params.user.value" name="user" type="text" class="form-control">
        </div>
        <div class="col-sm-6">
          <label for="passwd">Password</label>
          <input ng-model="params.passwd.value" name="passwd" type="password" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 text-center" style="margin-top: 20px;">
          <button ng-click="connect()" ng-hide="format == null" ng-disabled="connecting || importResult != null"
            class="btn btn-primary btn-sm">
              <span ng-hide="connecting || importResult != null">
                Connect
              </span>
              <span ng-show="connecting">
                <i class="fa fa-spinner fa-spin"></i>
                Connecting... please wait.
              </span>
              <span ng-show="importResult != null">
                <i class="fa fa-check"></i> Connected
              </span>
            </button>
        </div>
      </div>
    </form>
  </div>

  <div ng-if="error != null">
    <alert type="danger">{{ error.message }}</alert>
  </div>
  <div ng-if="alert != null">
    <alert type="warning">
      Store <strong>{{ alert.store.name }}</strong> already exists in workspace <strong>{{ alert.store.workspace }}</strong> at <strong>{{ alert.store.source }}</strong>.
      <button type="button" class="btn btn-default btn-sm" ng-click="showStore();" style="margin-left: 20px;"><i class="fa fa-angle-double-right"></i> View Store</button>
    </alert>
  </div>
</div>
