<div>
  <div class="modal-header">
    <div class="create-title">
      {{ title }}
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid form-container">
      <div class="upload-options btn-group btn-group-justified" ng-show="is('fileordb')">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" ng-click="showImportFile=true; showImportDB=false; importResult = null;" ng-class="{active: showImportFile}">
            Add Files
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm"
          ng-click="showImportFile=false; showImportDB=true; importResult = null;" ng-class="{active: showImportDB}">
            Add Database
          </button>
        </div>
      </div>

      <div ui-view="importfile" ng-show="showImportFile"></div>
      <div ui-view="importdb" ng-show="showImportDB"></div>
      <div ui-view="importdetails" ng-show="showImportDetails"></div>
      <div ui-view="newmap"></div>

      <div class="import-result text-center" ng-show="importResult!==null && is('fileordb')">
        <alert ng-if="importResult.imported.length > 0" type="success">
        {{ importResult.imported.length }} layer{{importResult.imported.length > 1 ? 's were' : ' was'}} successfully imported.
        </alert>
        <alert ng-if="importResult.preimport.length > 0" type="success">
        {{ importResult.preimport.length }} table{{importResult.preimport.length > 1 ? 's' : ''}} are available for import.
        </alert>
        <alert ng-if="importResult.pending.length > 0" type="warning">
        {{ importResult.pending.length }} layer{{importResult.pending.length > 1 ? 's' : ''}} require{{importResult.pending.length == 1 ? 's' : ''}} additional input.
        </alert>
        <alert ng-if="importResult.ignored.length > 0" type="info">
        {{ importResult.ignored.length }} file{{importResult.ignored.length > 1 ? 's were' : ' was'}} ignored.
        </alert>
        <alert ng-if="importResult.failed.length > 0" type="danger">
        {{ importResult.failed.length }} layer{{importResult.failed.length > 1 ? 's' : ''}} resulted in an error.
        </alert>
        <alert ng-if="(importResult.failed.length + importResult.ignored.length + importResult.pending.length + importResult.imported.length + importResult.preimport.length) == 0" type="danger">
        Unable to import from database.
        </alert>
        <div class="import-error text-right" ng-if="importResult.pending.length > 0 || importResult.imported.length > 0 || importResult.preimport.length > 0">
          <button class="btn btn-success btn-sm" type="button" ng-click="next(importResult)">
            Details &rarr;
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="submit-buttons pull-right">
      <button class="btn btn-default btn-sm" ng-click="back()" ng-show="!showImportFile && format!==null">&larr; Back</button>
      <button class="btn btn-default btn-sm" ng-click="close()">Close</button>
      <button class="btn btn-success btn-sm" ng-show="mapInfo && !mapInfo.created && is('details')" ng-click="completeNewMap(selectedLayers)">Create Map {{ mapInfo.name }}</button>
      <button class="btn btn-success btn-sm" ng-click="createNewMapwithImported();" ng-show="is('newmap')">Create New Map</button>
      <button class="btn btn-success btn-sm" ng-show="mapInfo && mapInfo.created && is('details')" ng-click="addNewLayersToExistingMap(selectedLayers)">Add to Map {{ mapInfo.name }}</button>
    </div>
  </div>
</div>
