<div class="data-import-details">
  <div ng-if="import.pending.length > 0">
    <h3>Pending Layers</h3>
    <p>
      Please specify the projection for the following layers.
    </p>
    <div ng-grid="pendingGridOpts" class="pending-layers"></div>
    <div class="pull-right">
      <button ng-click="reimport()" class="btn btn-success btn-sm"><i class="fa fa-refresh"></i> Re-import</button>
      <button ng-click="cancel()" class="btn btn-default btn-sm">Cancel</button>
    </div>
  </div>
  <div ng-if="import.imported.length > 0">
    <h3>Imported Layers</h3>
    <p>
      The following layers have been created.
    </p>
    <div ng-grid="completedGridOpts"></div>
  </div>

</div>
