/* import.details.less */

@import "../../../../variables.less";

.data-import-file {
  .alert {
    margin-bottom: 5px;
  }
}

.pending-layers {
  input, button {
    height: 25px;
    padding: 2px 4px;
    border-radius: 1px;
    margin-top: 2px;
  }
  .ngViewport.ng-scope {
    min-height: 200px !important;
  }
}

.data-import-details {
  .map-choice {
    margin: 25px auto 10px;
  }
  .map-label {
    margin-bottom: 10px;
  }
  .map-picker {
    margin-bottom: 5px;
    width: 180px;
    display: inline-block;
  }
  .map-button {
    margin-top: 5px;
    margin-left: 10px;
  }


  .options {
    margin: 20px auto;

    .lead {
      .gray {
        color: @gray;
      }
    }
  }

  .divider {
    border-left: 1px solid @gray;
    height: 110px;

    .or {
      margin-left: -25px;
      background: #fff;
      margin-top: 40px;
    }
  }

}
