<div class="map-tab-inner">
  <h3>Maps</h3>
  <div class="maps-count">
    <strong>{{ maps.length }}</strong> Map<span ng-if="maps.length==0 || maps.length>1">s</span> in Project <strong>{{ workspace }}</strong>
  </div>
  <small class="sort-by">
    Sort by
    <a class="sort-options" ng-click="predicate='name'; reverse = (last=='name')? !reverse : reverse; last='name';">Name</a> |
    <a class="sort-options" ng-click="predicate='title'; reverse = (last=='title')? !reverse : reverse; last='title';">Title</a> |
    <a class="sort-options" ng-click="predicate='modified.timestamp'; reverse = (last=='modified')? !reverse : reverse; last='modified';">Last Modified</a> |
    <a class="sort-options" ng-click="predicate='layer_count'; reverse = (last=='count')? !reverse : reverse; last='count';"># Layers</a>
  </small>
  <div class="map-summary" ng-show="maps.length > 0">
    <div class="row" ng-repeat="row in maps | orderBy:predicate:reverse | partition:2">
      <div class="col-sm-6" ng-repeat="map in row">
        <a href="" ng-click="onEdit(map)">
          <img ng-src="{{ thumbnails[map.name] }}" class="mapthumb" height="{{ map.height }}" width="{{ map.width }}" title="Edit Map" />
        </a>
        <div class="map-summary-detail">
          <h4>{{ map.name }}</h4>
          <p ng-if="map.title"><strong>Title:</strong> {{ map.title }}</p>
          <p>{{ map.layer_count }} Layers</p>
          <p>{{ map.proj.srs }}</p>
          <p><a ng-click="editMapSettings(map);">Map Settings</a></p>
          <!-- <p><a href="" ng-click="newOLWindow(map)">View in OpenLayers</a></p> -->
        </div>
        <p ng-if="map.modified.pretty"><strong>Last edited:</strong> {{ map.modified.pretty }}</p>
        <p class="abstract" ng-if="map.description"><strong>Description:</strong> {{sanitizeHTML(map.description)}}</p>
      </div>
    </div>
  </div>
  <div class="map-summary" ng-show="maps.length==0">
    <div class="row">
      <div class="col-sm-6">
        <a ng-click="createMap();">
          <div class="new-map-box">New Map
            <div class="plus">+ <i class="icon-map"></i></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
