<div class="map-tab-inner">
  <div class="row">
    <div class="col-sm-12">
      <div class="maps-count-sort">
        <div class="maps-count">
          <strong>{{ totalItems }} map<span ng-if="maps.length==0 || maps.length>1">s</span></strong> in current project.
        </div>
        <div class="pull-right">
          <div class="sort-by">
            <span class="sort-label">Sort by:</span>
            <span class="dropdown" on-toggle="toggled(open)">
              <a href class="dropdown-toggle" ng-init="last='name'">
              {{ last | firstCaps }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="sort-options" ng-click="predicate='name'; reverse = (last=='name')? !reverse : reverse; last='name';">Name</a></li>
                <li><a class="sort-options" ng-click="predicate='title'; reverse = (last=='title')? !reverse : reverse; last='title';">Title</a></li>
                <li><a class="sort-options" ng-click="predicate='modified.timestamp'; reverse = (last=='modified')? !reverse : reverse; last='modified';">Modified</a></li>
                <li><a class="sort-options" ng-click="predicate='layer_count'; reverse = (last=='count')? !reverse : reverse; last='count';"># Layers</a></li>
              </ul>
            </span>
          </div>
          <div class="filter-box">
            <input type="text" class="form-control input-sm grid-filter" ng-model="filterText" placeholder="Filter maps by..." size="30" />
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-summary" ng-show="maps.length > 0">
    <div class="row" ng-repeat="row in maps | orderBy:predicate:reverse | partition:2 | filter:filterText">
      <div class="col-sm-6" ng-repeat="map in row">
        <div class="map-wrapper">
          <a href="" ui-sref="map.compose({workspace: map.workspace, name: map.name})">
            <img ng-src="{{ thumbnails[map.name] }}" class="mapthumb" title="Edit Map" width="{{mapThumbsWidth}}" height="{{mapThumbsHeight}}"/>
          </a>
          <div class="map-summary-detail">
            <div class="inline">
              <div class="inline map-name">{{ map.name }}</div>
            </div>
            <div class="map-title"><span ng-if="map.title">{{ map.title }}</span><span ng-if="!map.title">&nbsp;</span></div>
            <div class="map-otherinfo">
              <div class="otherinfo"><i class="icon-stack"></i> {{ map.layer_count }} Layer<span ng-if="map.layer_count==0 || map.layer_count>1">s</span></div>
              <div class="otherinfo"><i class="icon-compass"></i> {{ map.proj.srs }}</div>
              <div class="otherinfo" ng-if="map.modified.pretty"><i class="icon-clock"></i> {{ map.modified.pretty }}</div>
              <div class="btn-group map-summary-links">
                <button type="button" class="btn btn-default btn-sm map-link-icon" ng-click="editMapSettings(map);" alt="Map Settings" title="Map Settings"><i class="fa fa-gear"></i></button>
                <button type="button" class="btn btn-default btn-sm map-link-icon link" ng-click="newOLWindow(map);" alt="Map Link" title="Map Link"><i class="icon-link"></i></button>
                <button type="button" class="btn btn-default btn-sm map-link-icon link" ng-click="generateMapSrc(map);" alt="Generate Map" title="Generate Map"><i style="line-height: 1;">js</i></button>
              </div>
            </div>
          </div>
          <div class="abstract" ng-if="map.description"><strong>Description:</strong> {{sanitizeHTML(map.description)}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-summary" ng-show="maps.length==0">
    <div class="row">
      <div class="col-sm-6">
        <a ng-click="createMap();">
          <div class="new-map-box">New Map
            <div class="plus">+ <i class="icon-map"></i></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="maps-paging">
    <pagination total-items="totalItems" items-per-page ="pagingOptions.pageSize" ng-model="pagingOptions.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
</div>
