<div class="attr-modal">
  <div class="modal-header">
    <div class="inline">
      <h4 class="modal-title"><strong>{{ layer.name }}</strong></h4>
      <small>{{ attributes.length }} Attributes - Click to Select</small>
    </div>
    <div class="pull-right inline top-buttons">
      <button class="btn btn-warning btn-sm" id="copyAttr">Copy to Clipboard</button>
      <button class="btn btn-default btn-sm cancel" ng-click="close()">Cancel</button>
    </div>
  </div>
  <div class="modal-body">
    <div class="row" ng-if="attributes.length > 20" ng-repeat="row in attributes | partition:3 ">
      <div class="col-xs-4 attr-cols" ng-repeat="item in row">
        <a class="attr-name" ng-class="{selectedAttr: selectedAttrName==item.name}" ng-click="selectName(item.name);">
          {{ item.name }}
        </a>
        <span class="attr-type pull-right">{{ item.type }}</span>
      </div>
    </div>
    <div class="row" ng-if="attributes.length < 20" ng-repeat="attr in attributes">
      <div class="col-xs-6 col-xs-offset-3 attr-cols">
        <a class="attr-name" ng-class="{selectedAttr: selectedAttrName==attr.name}" ng-click="selectName(attr.name);">
          {{ attr.name }}
        </a>
        <span class="attr-type pull-right">{{ attr.type }}</span>
      </div>
    </div>
  </div>
</div>
