<div class="attr-modal">
  <div class="modal-header">
    <div class="inline">
      <h4 class="modal-title"><strong>{{ layer.name }}</strong></h4>
      <small>{{ attributes.schema.attributes.length }} Attributes - Click to Select</small>
    </div>
    <div class="pull-right inline top-buttons">
      <button class="btn btn-warning btn-sm" id="copyAttr">Copy to Clipboard</button>
      <button class="btn btn-default btn-sm cancel" ng-click="close()">Cancel</button>
    </div>
  </div>
  <div class="modal-body">
    <div class="attr-table">
      <table>
        <thead><tr class="attr-header">
          <th ng-repeat="attr in attributes.schema.attributes">
            <a class="attr-name" ng-class="{selectedAttr: selectedAttrName==attr.name}" ng-click="selectName(attr.name);">
              {{ attr.name }}
            </a>
            <div class="attr-type">{{ attr.type }}</div>
          </th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="values in attributes.values track by $index">
            <td ng-repeat="value in values track by $index">
            {{ value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center hint">(Only the first 10 rows of attribute data are shown)</div>
  </div>
</div>
