<li class="dropdown dropdown-toggle">
  <i class="icon-screen"></i>
  <span>Display</span>
  <ul class="dropdown-menu display-menu">
    <li class="dropdown-submenu">
      BgColor
      <ul class="dropdown-menu">
        <li class="bg-submenu">
          <small>(Screen only)</small></li>
        <li ng-repeat="(b,c) in bgcolors"
          ng-class="{active: b == bgcolor}">
          <a href ng-click="chooseBgcolor(b)">{{b}}</a>
        </li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      Font
      <ul class="dropdown-menu">
        <li ng-repeat="(f,v) in fonts"
          ng-class="{active: f == font}">
          <a href ng-click="chooseFont(f)">{{f}}</a>
        </li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      Font Size
      <ul class="dropdown-menu">
        <li ng-repeat="s in sizes"
          ng-class="{active: $index == size}">
          <a href ng-click="chooseSize($index)">
            {{s[0]}}</a>
        </li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      Controls
      <ul class="dropdown-menu">
        <li ng-repeat="(mc,v) in mapcontrols">
          <a href ng-click="chooseControl(v)">
            {{mc}}</a>
        </li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      Basemap
      <ul class="dropdown-menu">
        <li ng-repeat="(bc,v) in basemapControls">
          <a href ng-click="chooseBasemapControl(v)">
            {{bc}}</a>
        </li>
      </ul>
    </li>
  </ul>
</li>
