<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="modal-title">Icons in workspace {{workspace}}</h4>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-default btn-sm cancel pull-right" ng-click="close()">Cancel</button>
              <button ng-show="hasFlash" id="copyIcon" class="btn btn-warning btn-sm pull-right" ng-click="copy()">Copy Selected to Clipboard</button>
			  <button ng-show="!hasFlash" id="copyDisabled" class="btn btn-warning btn-sm pull-right" 
			    popover-trigger="mouseenter" popover-placement="bottom"
                popover-append-to-body="true" popover-popup-delay="400"
                popover="Install or enable Adobe Flash to support clipboard integration."
				>
				  Copy Selected to Clipboard
				</button>
            </div>
        </div>
    </div>
    <div class="modal-body icon-modal">
        <div>
          <div class="row icon-row" ng-repeat="row in icons | orderBy: 'name' | partition:3 ">
            <div class="col-xs-4" ng-repeat="item in row">
              <span ng-click="chooseIcon(item);"
                popover-trigger="mouseenter" popover-placement="bottom"
                popover-append-to-body="true"
                popover-popup-delay="400"
                popover-html-unsafe="
                  <ul class='list-unstyled'>
                    <li><img src='{{item.url}}'></img></li>
                    <li><small>Modified {{item.modified.pretty}}</small></li>
                  "
                >
                  <span class="icon-img">
                    <img ng-src="{{ item.url }}"/>
                  </span>
                  <a class="icon-title"
                    ng-class="{selectedIcon: item.name==selectedIconName}">
                      {{item.name}}
                  </a>
              </span>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-xs-6 text-left">
          <button class="btn btn-primary btn-sm" type="button"
            ng-file-select="uploadIcons($files)">Upload Icon</button>
          <span ng-show="uploadRunning == true">
            <i class="fa fa-spinner fa-spin"></i>
            Uploading icon ...
          </span>
        </div>
      </div>
    </div>
</div>
