/* icons.less */
@import "../../../variables.less";

button.copyIcon {
  margin-left: 20px;
}
button.cancel {
  margin-right: 20px;
}
.icon-modal {
  max-height: 400px;
  overflow-y: scroll;

  .icon-img {
    display: inline-block;
    img {
      height: 16px;
      width: 16px;
    }
  }

  .icon-title {
    font-size: 11px;
    margin-left: 4px;
    display: inline-block;

    &.selectedIcon {
      font-weight: bold;
      color: @nectarine;
    }
  }

  .icon-row {
    margin: 4px 0;

    a {
      color: @almost-black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
