<div class="sld-modal">
  <div class="modal-header">
    <div class="inline">
      <h4 class="modal-title"><strong>{{ layer.name }}</strong></h4>
      <small>{{ attributes.length }} Attributes - Click to Select</small>
    </div>
    <div class="pull-right inline top-buttons">
      <button class="btn btn-default btn-sm cancel" ng-click="close()">Close</button>
    </div>
  </div>
  <div class="modal-body">
  <div class="sld-view" ui-codemirror="{ onLoad : onCodeMirrorLoad }"
    ui-codemirror-opts="codeMirrorOpts" ng-model="sld"></div>
  </div>
</div>
