<h3>Create Map</h3>
<div class="new-map">
  <div>
    <div class="row">
      <div class="col-sm-12">
        <form ng-hide="step==2" name="newMap" role="form" class="new-map-form form-1">
          <div class="form-group" name="newMapName">
            <label for="name">Map Name*</label>
            <input type="text" class="form-control input-sm" name="name" ng-model="mapInfo.name" ng-maxlength="10" ng-minlength="1" required ng-pattern="/^[^\s]+$/" ng-model-options="{updateOn: 'blur'}">
            <span ng-show="newMap.name.$error.pattern" class="error">No spaces allowed.</span>
            <span ng-show="newMap.name.$dirty && newMap.name.$error.required" class="error">Required</span>
            <small>(No spaces.)</small>
          </div>
          <div class="form-group" name="newMapCrs">
            <label for="map.crs">
              Projection* <div class="crs-warning" popover-html-unsafe="{{crsTooltip}}" popover-trigger="click"><i class="fa fa-info-circle"></i></div>
            </label>
            <proj-field name="crs" proj="mapInfo.proj" ng-model-options="{updateOn: 'default blur', 'allowInvalid': true}"></proj-field>
            <span ng-show="newMap.crs.$dirty && !newMap.crs.$error.pattern && !newMap.crs.$error.required" class="success"><i class="fa fa-check"></i> Valid CRS.</span>
            <span ng-show="newMap.crs.$dirty && !newMap.crs.$error.pattern && newMap.crs.$error.required" class="error">Required</span>
            <small>(e.g. EPSG:4326)</small>
          </div>
          <div class="form-group" name="newMapAbstract">
            <label for="abstract">Abstract</label>
            <textarea rows="4" cols="40" class="form-control abstract" name="abstract" ng-model="mapInfo.abstract" ng-minlength="1">Description for map</textarea>
          </div>
        </form>
        <form ng-show="step==2" name="newMapLayers" role="form" class="new-map-form form-2">
          <div class="form-group" name="create-new-layers" class="new-layers-group">
            <p>Available Layers in this workspace: {{ layers.length}}</p>
            <button class="btn btn-success btn-sm" ng-click="createNewLayers();">Import Data to Create New Layers &rarr;</button>
          </div>
          <div class="form-group" name="available-layers" ng-show="layers.length > 0">
            <label style="padding:none;dispay: block;float: none; margin-top: 0px; padding: 0px; white-space: normla;" for="lyrs">Available Layers:</label>
            <div name="lyrs" ng-grid="gridOptions">
            </div>
            <br/>
          </div>
        </form>
        <div ng-hide="mapCreated" style="margin-top:15px;"></div>
        <div ng-show="mapCreated" class="saved" style="text-align: left;color:#4cae4c;"><i class="fa fa-check"></i> Map Created.</div>
      </div>
    </div>
    <div class="row" ng-show="step==2 && layers.length > 0">
      <div class="col-sm-4">
        <div class="map-choice">
          <div class="map-label">Add Layers above to Map: </div>
          <div class="map-picker">
            <ui-select ng-model="map.selected" ng-disabled="disabled" theme="bootstrap" reset-search-input="false" ng-change="setMap(map.selected);">
              <ui-select-match placeholder="Select a map...">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="map in mapsToCreate">
                <span ng-bind-html="map.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <button type="button" class="btn btn-success btn-sm inline map-button" ng-disabled="!selectedMap" ng-click="createMap(layerSelections)">
            <span ng-if="!createMap">+ Add to Map</span>
            <span ng-if="createMap">Create Map with Selected</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-footer">
          <small class="pull-left" ng-show="step==1">* = Required</small>
          <div class="submit-buttons pull-right">
            <button ng-show="step!==1" class="btn btn-default btn-sm" ng-click="step=1;">&larr; Back</button>
            <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            <button ng-show="step==2" class="btn btn-primary btn-sm" ng-click="createMap(layerSelections)" ng-disabled="map.layers.length==0">Create Map</button>
            <button ng-show="step==1" class="btn btn-success btn-sm" ng-click="step=2;" ng-disabled="!newMap.$valid">Add Layers &rarr;</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
