<div>
  <div class="modal-header">
    <div class="create-title">
      Create Map<span ng-show="step==2">:<strong> {{ mapInfo.name }}</strong></span>
    </div>
  </div>
  <div class="modal-body">

    <div ui-view="newmap"></div>
    <div ui-view="addlayers"></div>
    <div ui-view="importnew"></div>

  </div>
  <div class="modal-footer">
    <small class="pull-left" ng-show="step==1">* = Required</small>
    <div class="submit-buttons pull-right">
      <button ng-show="!is('form')" class="btn btn-default btn-sm" ng-click="stepBack();">&larr; Back</button>
      <button class="btn btn-default btn-sm" ng-click="close()">Cancel</button>
      <button ng-show="is('form')" class="btn btn-success btn-sm" ng-click="step=2; addLayers()">Add Layers &rarr;</button>
    </div>
  </div>
</div>

