<div class="data-tab-inner">
  <div class="row">
    <div class="col-sm-12">
      <div class="data-count-sort">
        <div class="data-count">
          <strong>{{ totalStores }} Data Store<span ng-if="datastores.length==0 || datastores.length>1">s</span></strong> in current project.
        </div>
        <div class="pull-right">
          <div class="sort-by">
            <span class="sort-label">Sort by:</span>
            <span class="dropdown" on-toggle="toggled(open)" dropdown>
              <a href class="dropdown-toggle" dropdown-toggle>
              {{ opts.sort.predicate | firstCaps }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="sort-options" ng-click="sortBy(opts.sort, 'name')">Name</a></li>
                <li><a class="sort-options" ng-click="sortBy(opts.sort, 'type')">Type</a></li>
              </ul>
            </span>
          </div>
          <div class="filter-box">
            <input type="text" class="form-control input-sm grid-filter" ng-model="opts.filter.filterText" placeholder="Filter data stores by..." size="30" />
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row datastores">
    <div class="col-sm-6">
      <ul class="list-unstyled stores-list" ng-show="datastores && datastores.length > 0" ng-style="storesListHeight">
        <li class="store-row" ng-repeat="ds in datastores" ng-click="selectStore(ds);" ng-class="{'selected': ds.name==selectedStore.name}">
          <div class="icon-column" ng-click="getTypeDetails(ds);">
            <h3 class="datastore-icons"><i ng-class="{'icon-file-4': ds.sourcetype=='shp', 'icon-folder-open': ds.sourcetype=='shp_dir', 'fa fa-database fa-md': ds.sourcetype=='database', 'icon-image-2': ds.sourcetype=='raster', 'icon-earth': ds.sourcetype=='web'}"></i></h3>
            <p class="datastore-label">{{ ds.sourcetype }}</p>
          </div>
          <div class="info-column">
            <div ng-if="!ds.editing" ng-click="storeEdit(ds, true)">
              <strong>{{ ds.name }}</strong>
              <span ng-show="ds.refresh"><i class="fa fa-spinner fa-spin"></i></span>
            </div>
            <div ng-if="ds.editing"><input class="store-edit" type="text" value="{{ds.name}}" ng-blur="storeEdit(ds, false)"></input></div>
            <div title="{{ ds.source }}" class="source-info" collapse="ds.name!=selectedStore.name">
              <strong>Location:</strong><span>{{ ds.source }}</span>
            </div>
            <p>
              <div class="btn-group toggle-group">
                <label class="btn btn-xs" ng-class="{'btn-success': ds.enabled, 'btn-default': !ds.enabled}" ng-click="enableDisableStore(ds)" ng-model="ds.enabled">Enabled</label>
                <label class="btn btn-xs" ng-class="{'btn-primary': !ds.enabled, 'btn-default': ds.enabled}" ng-click="enableDisableStore(ds)">Disabled</label>
              </div>
              <div class="delete-column" ng-show="selectedStore.name==ds.name">
                <button ng-click="deleteStore();" class="btn btn-default btn-xs"><i class="icon-remove"></i> Delete</button>
              </div>
            </p>
          </div>
        </li>
      </ul>
      <div class="data-loading" ng-show="dataLoading">
        <i class="fa fa-spinner fa-spin"></i>
          Loading Data ...
        <div class="hint">If data does not load after a short time, verify GeoServer is running.</div>
      </div>
      <div class="data-paging">
        <pagination total-items="totalStores" items-per-page="opts.paging.pageSize" max-size="10" boundary-links="true" rotate="false" ng-class="{'remove-boundaries': !totalStores || totalStores < (opts.paging.pageSize*10)}" ng-model="opts.paging.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        <a id="bottom"></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div>
        <div class="resources">
          <div class="resources-header">
            <span class="resources-name">{{ totalResources }} Data Set<span ng-if="!selectedStore.enabled || totalResources != 1">s</span> in {{ selectedStore.name }}</span>
            <div class="pull-right">
              <div class="sort-by">
                <span class="sort-label">Sort by:</span>
                <span class="dropdown" on-toggle="toggled(open)" dropdown>
                  <a href class="dropdown-toggle" dropdown-toggle>
                  {{ resourceOpts.sort.predicate | firstCaps }} <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="sort-options" ng-click="sortBy(resourceOpts.sort, 'name')">Name</a></li>
                    <li><a class="sort-options" ng-click="sortBy(resourceOpts.sort, 'published')">Published</a></li>
                  </ul>
                </span>
              </div>
              <div class="filter-box">
                <input type="text" class="form-control input-sm grid-filter" ng-model="resourceOpts.filter.filterText" placeholder="Filter data sets by..." size="30" />
                <i class="fa fa-search"></i>
              </div>
            </div>
            
          </div>
          <div class="store-disabled" ng-show="selectedStore && !selectedStore.enabled">Source is disabled. <a ng-click="enableDisableStore(selectedStore)">Enable</a> to view resources.</div>
          <div class="data-loading" ng-show="selectedStore && selectedStore.enabled && pagedResources === null">
            <i class="fa fa-spinner fa-spin"></i>
              Loading Data Sets ...
          </div>
          <div class="store-disabled" ng-show="selectedStore && selectedStore.enabled && pagedResources !== null && !totalResources">No data sets <span ng-if="resourceOpts.filter.filterText"> matching "{{ resourceOpts.filter.filterText }}"</span>
          </div>
          <div class="resources-content">
            <ul class="list-unstyled">
              <li class="singleResource" ng-repeat="rsrc in pagedResources">
                <div>
                  <span class="label-tag">Resource:</span>
                  <strong> {{ rsrc.name }}</strong>
                </div>
                <div class="rsrc_info pull-right">
                  <a title="Attributes" ng-click="showAttrs(rsrc, selectedStore.name);">
                    <i class="fa fa-list-alt fa-lg" style="padding-left: 5px;"></i>
                  </a>
                </div>
                <div ng-if="rsrc.proj.srs" class="rsrc_info">
                  <span class="label-tag">Projection:</span> {{ rsrc.proj.srs }}
                </div>
                <div ng-if="rsrc.layers.length > 0">
                  <div class="info"><a pop="{{ getLayersForResource(rsrc); }}" pop-show="{{ rsrc.publishedPopover }}" pop-placement="left" ng-click="closeResourcePopovers(rsrc);" pop-title="{{rsrc.name}} is used in layers:">Published</a></div>
                </div>
                <div ng-if="rsrc.layers.length==0">
                  <div class="info"><strong>Not Published</strong> <span style="margin-left:10px;"><a class="btn btn-default btn-xs" ng-click="importAsNewLayer(rsrc, selectedStore);">Publish to Layer &rarr;</a></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="resources-paging">
            <pagination total-items="totalResources" items-per-page="resourceOpts.paging.pageSize" max-size="10" boundary-links="true" rotate="false" ng-class="{'remove-boundaries': !totalResources || totalResources < (resourceOpts.paging.pageSize*10)}" ng-model="resourceOpts.paging.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            <a id="bottom"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
