/* data.main.less */

@import "../../../variables.less";

.stores-count {
  .filter-box {
    margin-top: -25px;
    display: inline-block;
    vertical-align: middle;

    input {
      width: 80%;
      height: 26px;
      padding: 3px 5px;
    }
  }
}
