/* style.less */

@import url('../../variables.less');

.layer-detail-style {


  .layer-info {
    padding-top: 3px;
    padding-left: 11px;
    background-color: @light-bl-gray;
    width: 100%;
    display: inline-block;
    height: 38px;
    line-height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid @very-lt-gray;
    .box-shadow(0 1px 1px rgba(0,0,0,0.2));
    font-size: 16px;

    a {
      color: @dark-gray;
      &:hover {
        text-decoration: none;
        color: @monacoblue;
      }
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;

  }
  div[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .render-progress-container {
    float: right;
    .render-progress {
      margin-right: 20px;
      font-size: 13px;
    }
  }

  .map {
    width: 100%;
    height: 100%;
  }
  .style-editor {
    width: 100%;
  }

}

