<div>
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
  </div>
  <div ng-show="message" class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  <div ng-if="loginFailed" class="alert alert-danger" role="alert">
    Login failed. Please try again.
  </div>
  <div class="modal-body">
    <form class="login-form" ng-init="alertsOff();">
      <div class="form-group row">
        <div class="col-xs-2"><label for="username" class="control-label">Username:</label></div>
        <div class="col-xs-8 col-xs-offset-1"><input ng-model="creds.username" type="text" class="form-control" focus-init/></div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2"><label for="password" class="control-label">Password:</label></div>
        <div class="col-xs-8 col-xs-offset-1"><input ng-model="creds.password" type="password" class="form-control"/></div>
      </div>
      <div class="form-group row">
        <div class="col-xs-11">
          <button class="btn btn-default btn-sm pull-right" ng-click="login()">Login</button>
          <button class="btn btn-default btn-sm pull-right" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>