<div> 
  <div class="container-fluid">
    <h3 class="page-title">{{title}}</h3>
    <div ng-if="loginFailed" class="alert alert-danger" role="alert">
      Login failed. Please try again.
    </div>
    <form class="login-form">
      <div class="form-group">
        <div class="col-xs-2"><label for="username" class="control-label">Username</label></div>
        <div class="col-xs-10"><input ng-model="creds.username" type="text" class="form-control" login-focus/></div>
      </div>
      <br /><br />
      <div class="form-group">
        <div class="col-xs-2"><label for="password" class="control-label">Password</label></div>
        <div class="col-xs-10"><input ng-model="creds.password" type="password" class="form-control"/></div>
      </div>
      <div class="col-xs-12">
        <div style="height: 5px;"></div>
        <button class="btn btn-success btn-sm pull-right" ng-click="login()">Login</button>
      </div>
    </form>
  </div>
</div>
