<div class="error-panel">
  <script type="text/ng-template" id="error-modal">
    <div class="modal-body">
      <div class="error-modal-details">
        <div>Message: {{fullMessage}}</div>
        <div>
          <accordion>
            <accordion-group heading="{{error.name}}" ng-repeat="error in allErrors">
              {{error.error}}
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" clip-copy="entireMessage" clip-click="close()">Copy</button>
      <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
  </script>
  <error ng-repeat="msg in messages" type="{{type}}" close="close($index)">{{exception}}: {{message}}
    <a ng-click="showDetails(msg)" class="error-details">More details...</a>
  </error>
</div>
