<div id="sidebar-wrapper" ng-show="session.active">
  <ul class="sidebar-nav" ng-style="sideStyle">
    <li class="sidebar-toggle">
      <a ng-click="openWorkspace(); toggleSide=!toggleSide; onResize();" id="menu-toggle" ng-class="{'f-right': !toggleSide}"
        alt="{{toggleSide ? 'Open' : 'Close'}} sidebar"
        title="{{toggleSide ? 'Open' : 'Close'}} sidebar">
        <i class="toggleIcon fa fa-2x"
          ng-class="{'fa-arrow-circle-o-left': !toggleSide,
          'fa-arrow-circle-o-right': toggleSide}"></i>
      </a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown-new">
        <i class="icon-plus" ng- show="toggleSide"></i>
        <span class="txt">New <span class="caret"></span></span>
      </a>
      <ul id="dropdown-new" class="dropdown-menu" role="menu">
        <li><a ng-click="newWorkspace();">New Project</a></li>
        <li><a href="#">New Map</a></li>
      </ul>
    </li>
    <li role="presentation" class="divider"></li>
    <li id="projects_t" ng-show="!toggleSide">
      <div class="all-workspaces" ng-init="openWorkspaces();" ui-sref="workspaces.list"
        alt="Project Workspaces" title="Project Workspaces">
        <span class="projects-header">Projects</span>
      </div>
      <ul class="workspaces" role="menu">
        <li class="single-workspace" ng-repeat="workspace in workspaces |
          limitTo:numWorkspaces" ng-class="{'open': toggleWkspc[workspace.name]}">
          <a href="" ng-click="onWorkspaceClick(workspace);" alt="{{ workspace.name }}">
            <i ng-class="{'icon-folder': !toggleWkspc[workspace.name], 'icon-folder-open': toggleWkspc[workspace.name]}"></i> <span class="txt">{{ workspace.name }}</span>
          </a>
          <ul class="workspace-items" collapse="!toggleWkspc[workspace.name]" role="menu">
            <li class="in-workspace">
              <a ng-click="onWorkspaceTabClick(workspace,'maps.main');"
                alt="Maps">
                <i class="icon-map"></i> <span class="txt">Maps</span>
              </a>
            </li>
            <li class="in-workspace">
              <a ng-click="onWorkspaceTabClick(workspace,'layers.main');"
                alt="Layers">
                <i class="icon-stack"></i> <span class="txt">Layers
                </span>
              </a>
            </li>
            <li class="in-workspace">
              <a ng-click="onWorkspaceTabClick(workspace,'data.main');"
                alt="Data">
                <i class="fa fa-database fa-md"></i> <span class="txt" style="margin-left: 1px;"> Data
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li ng-show="workspaces.length > 2" class="more">
          <a ui-sref="workspaces.list" alt="More..." title="More...">
            <span class="txt">More...</span>
          </a>
        </li>
      </ul>
    </li>
    <li id="projects" ng-show="toggleSide" class="dropdown">
      <a ng-click="openWorkspaces();" class="dropdown-toggle"
        data-toggle="tgdropdown" alt="Project Workspaces"
        title="Project Workspaces">
        <i class="icon-folder-open"></i> <span class="txt">Project Workspaces</span>
      </a>
      <ul id="tgdropdown" class="dropdown-menu"
        role="menu">
        <li class="single-workspace" ng-repeat="workspace in workspaces |
          limitTo: 5" ng-class="{'open': toggleWkspc2[workspace.name]}">
          <a href="" ng-click="onWorkspaceClick2(workspace);" alt="{{ workspace.name }}"
            title="{{ workspace.name }}">
            <i ng-class="{'icon-folder': !toggleWkspc2[workspace.name], 'icon-folder-open': toggleWkspc2[workspace.name]}"></i> {{ workspace.name }}
          </a>
        </li>
        <li ng-show="workspaces.length > 2" class="more">
          <a ui-sref="workspaces.list" alt="More..." title="More..."> More...</a>
        </li>
        <li ng-show="workspaces.length == 0" class="single-workspace">
          No Project Workspaces
        </li>
      </ul>
    </li>
  </ul>
  <ul class="sidebar-nav" ng-style="sideBottom">
    <li role="presentation" class="divider"></li>
    <li><a ui-sref="maps" alt="All Maps" title="All Maps">
      <i class="icon-map"></i> <span class="txt">All Maps</span></a>
    </li>
    <li><a ui-sref="layers" alt="All Layers" title="All Layers">
      <i class="icon-stack"></i> <span class="txt">All Layers</span></a>
    </li>
    <li role="presentation" class="divider"></li>
    <li>
      <div ng-if="status != 'ok'" class="alert-danger server-status"><i class="fa fa-exclamation-circle"></i> Server is not running.</div>
      <a ui-sref="home" alt="Diagnostics" title="Diagnostics">
        <i class="fa fa-gears fa-lg"></i> <span class="txt">Diagnostics</span>
      </a>
    </li>
  </ul>
</div>
