<div>
  <div class="modal-header">
    <h4 class="modal-title">Copy <strong>{{ fromLayer.name }}</strong> to New Layer</h4>
    <small class="pull-right required-star">* Required</small>
  </div>
  <div class="modal-body" style="font-size: 13px; margin-left: 20px;">
    <form name="form.layerSettings" role="form" class="layer-settings">
      <div class="form-group">
        <label for="layerName">New Layer Name *</label>
        <input name="name" type="text" class="form-control input-sm" id="layerName" ng-model="layer.name" value="{{layer.name}}" focus-init maxlength="10" ng-pattern="/^[a-zA-Z][a-zA-Z\d\-_]*$/" required ng-model-options="{updateOn: 'default blur'}" />
        <span ng-show="!form.layerSettings.name.$error.required && form.layerSettings.name.$error.pattern" class="errorInput">Invalid characters in layer name.</span>
        <span ng-show="form.layerSettings.name.$dirty && form.layerSettings.name.$error.required" class="errorInput">Required.</span>
        <small class="hint">(No spaces, max 10 characters, for web URLs.)</small>
      </div>
      <div class="form-group">
        <label for="mapTitle">New Layer Title</label>
        <input name="form.layerSettings.title" type="text" class="form-control input-sm" id="mapTitle" ng-model="layer.title">
        <small>(Spaces ok, for humans.)</small>
      </div>
      <div class="form-group" id="layerProj">
        <label for="form.layerSettings.crs">
          Projection * <div class="crs-warning" popover-html-unsafe="{{crsTooltip}}" popover-trigger="click"><i class="fa fa-info-circle"></i></div>
        </label>
        <proj-field name="crs" proj="layer.proj" ng-model-options="{updateOn: 'default blur', 'allowInvalid': true}" placeholder="layer.proj.srs"></proj-field>
        <span ng-show="form.layerSettings.crs.$dirty && !form.layerSettings.crs.$error.pattern && !layerSettings.proj.srs.$error.required" class="success"><i class="fa fa-check"></i> Valid CRS.</span>
        <span ng-show="form.layerSettings.crs.$dirty && !form.layerSettings.crs.$error.pattern && layerSettings.crs.$error.required" class="error">Required</span>
        <small>(e.g. EPSG:4326)</small>
      </div>
      <div class="form-group">
        <label for="proj">Description</label>
        <textarea rows="4" cols="40" class="form-control abstract" name="description" ng-model="layer.description"></textarea>
      </div>
      <div class="form-group">
        <label for="type">Type:</label> {{ layer.type | firstCaps}}
      </div>
    </form>
    <alert ng-show="form.layerSettings.alerts" type="danger" style="margin-left: 0;">
      {{ form.layerSettings.alerts }}
    </alert>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-sm" ng-click="importAsLayer();" ng-disabled="!form.layerSettings.$valid || form.layerSettings.name.$error.pattern || form.layerSettings.name.$error.required" style="margin-left:20px; margin-right:20px;">Copy to New Layer</button>
  </div>
</div>
