<div>
  <div class="modal-header">
    <h4 class="modal-title"><i class="icon-stack"></i> {{ layername }}</h4>
    <small class="pull-right required-star">* Required</small>
  </div>
  <div class="modal-body layer-settings">
    <form name="form.layerSettings" role="form" class="layerSettings">
      <form-name-layer form="form.layerSettings" model="layer.name" label="'Layer Name'"></form-name-layer>
      <form-title form="form.layerSettings" model="layer.title" label="'Title'"></form-title>
      <form-crs form="form.layerSettings" model="layer.proj" label="'Projection'"></form-crs>
      <form-description form="form.layerSettings" model="layer.description" label="'Description'"></form-description>
      <div class="form-group">
        <label for="more-settings">Advanced Settings</label>
        <div><a type="button" class="btn btn-default btn-sm" ng-href="{{ layer.link }}" target="_blank">GeoServer Admin Layer Settings</a></div>
      </div>
    </form>
    <alert ng-show="form.layerSettings.alerts" type="danger" style="margin-left: 0;">
      {{ form.layerSettings.alerts }}
    </alert>
  </div>
  <div class="modal-footer layer-settings-footer">
    <div ng-show="form.layerSettings.saved" class="saved"><i class="fa fa-check"></i> Changes Saved.</div>
    <div ng-show="errorSaving" class="errorSaving"><i class="fa fa-remove"></i> Error saving.</div>
    <button ng-click="removeLayer(layer)" class="btn btn-danger btn-sm"><i class="icon-remove"></i> Remove Layer</button>
    <button ng-click="saveChanges()" class="btn btn-success btn-sm save" ng-disabled="!form.layerSettings.$dirty || form.layerSettings.name.invalid">Update Layer Settings</button>
    <button class="btn btn-default btn-sm" ng-click="cancel()">Close</button>
  </div>
</div>
