<div class="layers-tab-inner">
  <div class="row">
    <div class="col-sm-12">
      <div class="layers-count-sort">
        <div class="layers-count">
          <strong>{{ totalItems }} layer<span ng-if="layers.length==0 || layers.length>1">s</span></strong> in current project.
        </div>
        <div class="pull-right">
          <div class="sort-by">
            <span class="sort-label">Sort by:</span>
            <span class="dropdown" on-toggle="toggled(open)">
              <a href class="dropdown-toggle" ng-init="last='name'">
              {{ last | firstCaps }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="sort-options" ng-click="predicate='name'; reverse = (last=='name')? !reverse : reverse; last='name';">Name</a></li>
                <li><a class="sort-options" ng-click="predicate='title'; reverse = (last=='title')? !reverse : reverse; last='title';">Title</a></li>
                <li><a class="sort-options" ng-click="predicate='modified.timestamp'; reverse = (last=='modified')? !reverse : reverse; last='modified';">Modified</a></li>
                <li><a class="sort-options" ng-click="predicate='geometry'; reverse = (last=='count')? !reverse : reverse; last='geometry';">Type</a></li>
              </ul>
            </span>
          </div>
          <div class="filter-box">
            <input type="text" class="form-control input-sm grid-filter" ng-model="filterOptions.filterText" placeholder="Filter layers by..." size="30" ng-change="refreshLayers();" />
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="add-to-map" ui-scrollfix="+140">
        <span class="add-label">
          <span ng-if="layerSelections.length==0">Select layers below to add to a map.</span>
          <span ng-if="layerSelections.length > 0">{{ layerSelections.length }} Layer<span ng-if="layerSelections.length>1">s</span> selected.</span>
        </span>
        <div class="map-picker">
          <ui-select ng-model="map.selected" ng-disabled="disabled" theme="bootstrap" reset-search-input="false" ng-change="setMap(map.selected);">
            <ui-select-match placeholder="Select a map...">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="map in mapOptions">
              <span ng-bind-html="map.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
          <button type="button" class="btn btn-success btn-sm map-button" ng-disabled="!selectedMap" ng-click="addSelectedToMap()"><i class="icon-plus"></i> Add to Map</button>
        </div>
      </div>
    </div>
  </div>
  <div class="layers-summary" ng-show="layers.length > 0">
    <div class="row" ng-repeat="row in layers | orderBy:predicate:reverse | partition:3 | filter:filterText">
      <div class="col-sm-4" ng-repeat="layer in row">
        <div class="layer-summary-detail" ng-style="{'outline': layer.selected ? '4px #28728D solid' : ''}">
          <div class="layer-info-section" ng-click="layer.selected=!layer.selected; toggleSelected(layer);">
            <div class="layer-icon">
              <i class='icon-for-layer' ng-class="{'icon-location': layer.geometry=='Point', 'icon-share': layer.geometry=='MultiLineString', 'icon-stop-2': layer.geometry=='MultiPolygon', 'icon-image-2': layer.geometry=='raster', 'icon-diamond': geometry=='Geometry'}"></i>
            </div>
            <div class="layer-detail">
              <div pop="{{ layer.name }}" pop-show="{{ layer.layerName }}" pop-placement="bottom" ng-click="closeLayerNPopovers(layer);"><strong>{{ layer.name | truncate:false:28:true }}</strong></div>
              <div class="layer-title" ng-if="layer.title" pop="{{ layer.title }}" pop-show="{{ layer.layerTitle }}" pop-placement="bottom" ng-click="closeLayerTPopovers(layer);">{{ layer.title | truncate:false:28:true }}</div>
            </div>
            <div class="layer-detail-inside-footer">
            <div class="layer-attr"><a ng-click="showAttrs(layer.name, layer.schema.attributes)"><span class="attr-num">{{ layer.schema.attributes.length }}</span> attributes</a></div>
              <div class="layer-mod"><i class="icon-clock"></i> Modified<strong><span ng-if="layer.modified.pretty"> {{ layer.modified.pretty }}</span> <span ng-if="!layer.modified">: N/A</span></strong></div>
              <!-- <p><a href="" ng-click="newOLWindow(map)">View in OpenLayers</a></p> -->
            </div>
          </div>
          <div class="layer-detail-outside-footer">
            <div class="footer left-footer" ui-sref="layer.style({workspace: layer.workspace, name: layer.name})" title="Edit Layer Style"><i class="fa fa-paint-brush"></i> Style</div>
            <div class="footer middle-footer" ng-click="editLayerSettings(layer);"><i class="fa fa-gear"></i> Settings</div>
            <div class="footer right-footer" title="Copy to New Layer" ng-click="copyToNewLayer(layer);"><i class="fa fa-copy"></i> Copy</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layers-summary" ng-show="layers.length==0">
    <div class="row">
      <div class="col-sm-6">
        <a ng-click="createLayer();">
          <div class="new-layer-box">New Layer
            <div class="plus">+ <i class="icon-stack"></i></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="layers-paging">
    <pagination total-items="totalItems" items-per-page ="pagingOptions.pageSize" ng-model="pagingOptions.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
</div>
