/* layers.main.less */

@import "../../../variables.less";

.layers-tab-inner {
  .layers-count {
    display: inline-block;
  }
  .add-to-map {
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 20px;

    .add-label {
      display: block;
      margin-bottom: 5px;
    }

    .map-picker {
      display: inline-block;
      margin-right: 10px;

      .ui-select-bootstrap {
        width: 200px;
      }
    }
  }
  .layers-summary {
    margin-bottom: 40px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    font-size: 0.95em;

    .row {
      margin-top: 30px;
    }
    .row:first-child {
      margin-top: 0;
    }

    .layer-summary-detail {
      border: 1px solid @light-gray;
      display: inline-block;
      vertical-align: top;
      box-shadow: 2px 2px 4px #999;
      margin-bottom: 10px;
      width: 100%;
      cursor: pointer;

      .layer-icon {
        display: inline-block;
        float: left;
        margin: 10px;
        padding-top: 10px;
        height: 60px;
        width: 50px;
        text-align: center;

        .icon-for-layer {
          display: inline-block;
          color: @black;
          font-size: 36px;
        }
      }
      .detail {
        display: inline-block;
        padding: 10px 10px 5px 0;
        div {
          line-height: 20px;
        }
      }
      .layer-settings {
        outline: 1px solid @gray;
        clear: both;
        background-color: @gray;
        padding: 2px 10px;
        text-align: center;
        a {
          color: @very-lt-gray;
          font-size: 10px;
          padding-right: 10px;
          &:hover {
            color: @white;
          }
        }
      }

    }
    .abstract {
      margin-top: 5px;
      width: 90%;
    }
  }
  a {
    .new-layer-box {
      color: @light-gray;
      font-size: 28px;
      text-align: center;
      padding-top: 40px;
      background-color: @white;
      border: 1px solid @light-gray;
      box-shadow: 2px 2px 4px #999;
      height:250px;
      width:250px;
      .plus {
        font-size: 48px;
        font-weight: bold;
        i {
          display: block;
        }
      }
    }
    &:hover {
      text-decoration: none;
      .new-map-box {
        color: @white;
        background-color: @very-lt-gray;
      }
    }
  }
}
