<div class="data-import-details">
  <div ng-show="detailsLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading...<br/><br/>(Large datasets may take some time to import.)</div>
  <div ng-show="noImportData" class="text-center"><i class="fa fa-warning"></i> No data to import from this database.<br/><br/>Store will not be added.</div>
  <div ng-if="layers.length > 0">
    <div style="display: inline-block; width: 100%;">
      <div class="pull-left">
        <h3>Available Layers</h3>
        <p>
          Please specify which dataset{{import.preimport.length > 1 ? 's' : ''}} to import.
          <br/>(At least 1 layer must be imported for the Store to be added.)
        </p>
      </div>
      <!-- TODO: re-implement -->
      <div class="pull-right next-import-button">
        <div ng-if="imported.length > 0" class="bg-success imported-msg">
          {{ imported.length }}
           {{ imported.length == 1 ? 'layer' : 'layers' }} imported.
        </div>
      </div>
    </div>
    <div ng-grid="gridOpts" class="pending-layers"></div>
    <div class="pending-footnote">* May not contain spatial data.</div>
  </div>
 
  <!-- move to alert? p>Please specify the projection for the following layer{{import.pending.length > 1 ? 's' : ''}}.</p -->
      
  <!-- add alert?  The following layer{{import.imported.length > 1 ? 's have' : ' has'}} been created. -->
  
  <div ng-if="ignored.length > 0">
    <h3>Ignored File{{ignored.length > 1 ? 's' : ''}}</h3>

    <div ng-click="showIgnored = !showIgnored">
      The following {{ignored.length}} file{{ignored.length > 1 ? 's were' : ' was'}} not recognized: <span class="icon"><i class="fa" ng-class="{ 'fa-chevron-right': !showIgnored, 'fa-chevron-down': showIgnored }"></i></span>
    </div>
    <div class="horizontal-divider" collapse="!showIgnored" ng-init="showIgnored = ignored.length < 10">
      <ul class="list-unstyled">
        <li ng-repeat="file in ignored">{{ file.name }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <inline-errors errors="errors"></inline-errors>
    </div>
  </div>
</div>
