<div>
  <div class="modal-header">
    <h4 class="modal-title">Maps > New Map</h4>
  </div>
  <div class="modal-body">
    <form name="mapForm" role="form" class="settings">
      <div class="container">
        <div class="col-xs-1"><label for="mapName">Map Name: </label></div>
        <div class="col-xs-3">
          <input type="text" class="form-control input-xs" id="mapName" placeholder="Map Name" ng-model="Map.name" ng-change="checkName(Map.name);" required focus-init />
        </div>
        <div class="col-xs-5">
          <div ng-if="mapNameError" class="alert-danger">Another map already has the name '{{Map.name}}'.</div>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="col-xs-1 label-padding"><label for="mapTitle">Title: </label></div>
        <div class="col-xs-3 label-padding">
          <input type="text" class="form-control input-xs label-padding" id="mapTitle" placeholder="(Display Title)" ng-model="Map.title" required>
        </div>
        <div class="col-xs-5">&nbsp;</div>
      </div>
      <div class="container">
        <div class="col-xs-1 label-padding"><label for="projection">Projection SRS:</label></div>
        <div class="col-xs-3 label-padding">
          <ui-select ng-model="projections.selected" theme="bootstrap" reset-search-input="false" required>
            <ui-select-match ng-model="Map.projection" placeholder="Select a projection...">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="projection in projections">
              <span ng-bind-html="projection.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="container">
        <div class="col-xs-8 label-padding col-xs-offset-1">
          <button class="btn btn-default btn-sm" ng-click="editOtherSettings()"><img src="images/settings.png" alt="Edit Other Settings" title="Edit Other Settings" /> Edit Other Settings</button><br />
          <i>Default settings will be applied.</i>
        </div>
      </div>
      <br />
      <div class="container">
        <div class="col-xs-1"><label for="projection">Extent:</label></div>
        <div class="col-xs-5">
          <div class="input-group">
            <div class="input-group-btn">
              <ui-select class="small-control" ng-model="extents.selected" theme="bootstrap" reset-search-input="false" id="mapExtent" required>
                <ui-select-match ng-model="Map.extent" placeholder="Select an extent...">
                  {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="extent in extents">
                  <span ng-bind-html="extent.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <input ng-if="extents.selected.name=='Custom'" type="text" class="form-control" id="mapExtent" placeholder="[lower corner, upper corner]" ng-model="Map.extent" ng-bind-html>
          </div>
          <div class="custom-extent-type-warning" ng-if="extents.selected.name=='Custom'" class="alert-warning">'Custom' enables a region on the map to be selected or direct entry.</div>
        </div>
      </div>
      <div class="container">
        <!--TODO: grab a thumbnail if it exists-->
        <!--<div class="col-xs-4 col-xs-offset-1">
          <img ng-hide="thumbnail == ''" class="thumbnail" ng-model="thumbnail" ng-src="{{thumbnail}}" alt="Thumbnail View" title="Thumbnail View" />
        </div>-->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-sm" ng-click="ok(Map.name, Map.title, projections.selected.name, extents.selected.name, Map.extent)" ng-disabled="mapForm.$invalid || mapNameError">Next: Select Layers</button>
  </div>
</div>
